#div { /* настройка рамки и ее внутриностей */
  margin-left: 700px;
  margin-right: 700px;
  border: solid rgb(175, 140, 98) 5px;
  background-color:bisque;
  border-radius: 10px;
}
#title1 { 
  margin-left: 200px;
  color: fuchsia;
}
#span1 {
  color: aqua;
}
#span2 {
  color: rgb(0, 60, 255);
}
#span3 {
  color: rgb(255, 0, 200);
}
#span4 {
  color: rgb(255, 0, 0);
}
#span5 {
  color: rgb(255, 145, 0);
}
#span6 {
  color: rgb(255, 251, 0);
}
#span7 {
  color: rgb(115, 255, 0);
}
.gr {  /* градиент */
  width: 50%;
  max-width: 500px;
  height: 200px;
  background: linear-gradient(crimson, gold, yellowgreen, teal, crimson);
  background-position: 0 0;
  border-radius: 30px;
  border: 10px solid rgb(255, 251, 0);
  animation: background 2s infinite alternate;
}
@keyframes background {
  100% {
    background-position: 0 200px;
  }
}
.gr {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
#title2 {
  margin-top: 30px;
  display: inline;
}
#in1 {
  display: inline;
  margin-left: 10px;
  margin-top: 30px;
}
#button1 {
  display: inline;
  margin-left: 10px;
  margin-top: 30px;
}
img {
  padding-left: 500px;
  float: left;
}
#str {
  clear: left;
  padding-left: 480px;
}
#p {
  padding-left: 500px;
}
.em1 {
  position: relative;
  top: 10px;
}
.em2 {
  position: relative;
  bottom: 10px;
}
#img {
  padding-left: 500px;
  z-index: 1;
  color: blue;
  position: relative;
  top: 50px;
}
#box1 {
  margin-left: 10px;
  margin-right: 1850px;
  border: solid 2px rgb(121, 0, 0);
  background-color: rgb(255, 0, 0);
}
#box2 {
  margin-right: 1850px;
  margin-left: 10px;
  border: solid 2px rgb(42, 0, 121);
  background-color: rgb(76, 0, 255);
}
#box3 {
  margin-right: 1850px;
  margin-left: 10px;
  border: solid 2px rgb(38, 121, 0);
  background-color: rgb(9, 255, 0);
}
#box{
  display: flex;
  flex-direction: column;
}